In [65]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'scipy'

In [66]:
pip install scipy

Collecting scipy
  Downloading scipy-1.13.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy<2.3,>=1.22.4 in /Users/jonathansantos/Desktop/IronHack/EDA-Inferential-stats/Project_eda/lib/python3.9/site-packages (from scipy) (1.26.4)
Downloading scipy-1.13.0-cp39-cp39-macosx_10_9_x86_64.whl (39.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.3/39.3 MB 4.4 MB/s eta 0:00:0000:0100:01m
Installing collected packages: scipy
Successfully installed scipy-1.13.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
df1 = pd.read_csv("/Users/jonathansantos/Desktop/IronHack/EDA-Inferential-stats/data/raw/df_final_demo.txt")

df2 = pd.read_csv("/Users/jonathansantos/Desktop/IronHack/EDA-Inferential-stats/data/raw/df_final_experiment_clients.txt")
df3 = pd.read_csv("/Users/jonathansantos/Desktop/IronHack/EDA-Inferential-stats/data/raw/df_final_web_data_pt_1.txt")
df4 = pd.read_csv("/Users/jonathansantos/Desktop/IronHack/EDA-Inferential-stats/data/raw/df_final_web_data_pt_2.txt")

In [36]:
# Concatenate df_final_web_data_pt_1 and df_final_web_data_pt_2 into a single DataFrame
df_final_web_data = pd.concat([df3, df4])

# Merge df_final_web_data with df_final_experiment_clients on 'client_id'
df_merged = pd.merge(df_final_web_data, df2[['client_id', 'Variation']], on='client_id', how='left')

In [38]:
# Define the columns to be added
columns_to_add = ['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth']

# Merge df_merged with df_final_demo on 'client_id', adding the specified columns
df_merged = pd.merge(df_merged, df1[columns_to_add], on='client_id', how='left')

In [51]:
# Drop duplicates based on 'bal' column
df_merged_unique = df_merged.drop_duplicates(subset='bal')

# Sort and get top 100
top_100_clients = df_merged_unique.sort_values(by = "bal", ascending=False).head(100)

# Reset index and adjust it to start from 1
top_100_clients.reset_index(drop=True, inplace=True)
top_100_clients.index = top_100_clients.index + 1

print("Top 100 clients list")
for index, client in top_100_clients["client_id"].items():
    print(f"Rank: {index}, Client ID: {client}")

Top 100 clients list
Rank: 1, Client ID: 9286288
Rank: 2, Client ID: 8339240
Rank: 3, Client ID: 7070097
Rank: 4, Client ID: 9440656
Rank: 5, Client ID: 2291985
Rank: 6, Client ID: 1678193
Rank: 7, Client ID: 6762377
Rank: 8, Client ID: 3519657
Rank: 9, Client ID: 987970
Rank: 10, Client ID: 857273
Rank: 11, Client ID: 5939963
Rank: 12, Client ID: 7959723
Rank: 13, Client ID: 3559689
Rank: 14, Client ID: 9290030
Rank: 15, Client ID: 5735570
Rank: 16, Client ID: 3545814
Rank: 17, Client ID: 8056743
Rank: 18, Client ID: 2243576
Rank: 19, Client ID: 8700059
Rank: 20, Client ID: 6765532
Rank: 21, Client ID: 5799151
Rank: 22, Client ID: 8841326
Rank: 23, Client ID: 9848978
Rank: 24, Client ID: 8962152
Rank: 25, Client ID: 6981798
Rank: 26, Client ID: 7991760
Rank: 27, Client ID: 2935280
Rank: 28, Client ID: 1310232
Rank: 29, Client ID: 4179430
Rank: 30, Client ID: 9990452
Rank: 31, Client ID: 606032
Rank: 32, Client ID: 9578246
Rank: 33, Client ID: 6146018
Rank: 34, Client ID: 6271257
Rank: 35, Client ID: 3759883
Rank: 36, Client ID: 9362246
Rank: 37, Client ID: 129659
Rank: 38, Client ID: 2289261
Rank: 39, Client ID: 4121411
Rank: 40, Client ID: 3620034
Rank: 41, Client ID: 6266083
Rank: 42, Client ID: 6967120
Rank: 43, Client ID: 937877
Rank: 44, Client ID: 2245262
Rank: 45, Client ID: 3840858
Rank: 46, Client ID: 8009251
Rank: 47, Client ID: 6076924
Rank: 48, Client ID: 1270300
Rank: 49, Client ID: 2220861
Rank: 50, Client ID: 7776888
Rank: 51, Client ID: 6751153
Rank: 52, Client ID: 8591099
Rank: 53, Client ID: 5511653
Rank: 54, Client ID: 426756
Rank: 55, Client ID: 7225964
Rank: 56, Client ID: 8337723
Rank: 57, Client ID: 9245820
Rank: 58, Client ID: 1987005
Rank: 59, Client ID: 9194684
Rank: 60, Client ID: 4051804
Rank: 61, Client ID: 8825788
Rank: 62, Client ID: 1556389
Rank: 63, Client ID: 6434122
Rank: 64, Client ID: 2686458
Rank: 65, Client ID: 4848547
Rank: 66, Client ID: 168267
Rank: 67, Client ID: 2429823
Rank: 68, Client ID: 4256611
Rank: 69, Client ID: 9545139
Rank: 70, Client ID: 2643498
Rank: 71, Client ID: 6022010
Rank: 72, Client ID: 7927402
Rank: 73, Client ID: 2053174
Rank: 74, Client ID: 9226597
Rank: 75, Client ID: 8244716
Rank: 76, Client ID: 3294129
Rank: 77, Client ID: 4767794
Rank: 78, Client ID: 3612499
Rank: 79, Client ID: 2781315
Rank: 80, Client ID: 3864477
Rank: 81, Client ID: 4812426
Rank: 82, Client ID: 4365422
Rank: 83, Client ID: 6550009
Rank: 84, Client ID: 1177276
Rank: 85, Client ID: 5469951
Rank: 86, Client ID: 9499259
Rank: 87, Client ID: 3862559
Rank: 88, Client ID: 3104377
Rank: 89, Client ID: 4170232
Rank: 90, Client ID: 2579616
Rank: 91, Client ID: 8115034
Rank: 92, Client ID: 4311537
Rank: 93, Client ID: 5743376
Rank: 94, Client ID: 5986644
Rank: 95, Client ID: 7918624
Rank: 96, Client ID: 9893446
Rank: 97, Client ID: 2976295
Rank: 98, Client ID: 4473931
Rank: 99, Client ID: 8286876
Rank: 100, Client ID: 4193650

In [52]:

# Once we have our top 100 clients depending on the balance amount, we proceed to check the ages of these clients.
# To do so, we'll take the average of the clnt_age column, and we consider the boundary between young and old in 40 years old.
average_clients_age = top_100_clients["clnt_age"].mean()
print(f"The average age of the top 100 clients is {average_clients_age} years.")

youngest_client_age = top_100_clients["clnt_age"].min()
print(f"The youngest client of the primary ones is {youngest_client_age} y/o.")

# Since we've seen that the youngest client is under the age we decided to consider them young or old, we count exactly how many clients of each type we have
young_clients, old_clients = (top_100_clients["clnt_age"] < 40).sum(), (top_100_clients["clnt_age"] >= 40).sum()
print(f"The total amount of young clients is {young_clients}, while there are {old_clients} of older clients out of the total 100 primary clients.")

# We do the same process for tenure years
average_tenure_years = top_100_clients["clnt_tenure_yr"].mean()
print(f"The average years of tenure is {average_tenure_years}.")
lowest_tenure_value = top_100_clients["clnt_tenure_yr"].min()
print(f"The most recent client out of the primary ones has been a client for {lowest_tenure_value} years.")

# We will consider 10 years as the minimun to say a client has been with the investing management company for a long time.
low_tenure_years, long_tenure_years = (top_100_clients["clnt_tenure_yr"] < 10).sum(), (top_100_clients["clnt_tenure_yr"] >= 10).sum()
print(f"There are {low_tenure_years} new clients, and {long_tenure_years} loyal clients.")

The average age of the top 100 clients is 58.645 years.
The youngest client of the primary ones is 26.5 y/o.
The total amount of young clients is 7, while there are 93 of older clients out of the total 100 primary clients.
The average years of tenure is 20.68.
The most recent client out of the primary ones has been a client for 4.0 years.
There are 14 new clients, and 86 loyal clients.

In [53]:
# Calculate the average balance for each gender
average_balance_by_gender = df_merged.groupby('gendr')['bal'].mean()
print(average_balance_by_gender)

gendr
F    143613.237247
M    234590.317485
U    100422.379386
X     27685.110714
Name: bal, dtype: float64

In [54]:
# Create a DataFrame where Variation = 'Test'
df_test = df_merged[df_merged['Variation'] == 'Test']
# Create a DataFrame where Variation = 'Control'
df_control = df_merged[df_merged['Variation'] == 'Control']

In [55]:
df_test.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0

In [63]:
# Convert the date and time column to datetime type since it is not yet in that format.
df_control['date_time'] = pd.to_datetime(df_control['date_time'])

# Sort the DataFrame by 'client_id' and 'date_time' to ensure that the records are in the correct order
df_control = df_control.sort_values(by=['client_id', 'date_time'])

# Calculate the time difference between each consecutive record for each user.
df_control['duration'] = (df_control['date_time'] - df_control.groupby('client_id')['date_time'].shift()).dt.total_seconds()

# Set the duration for the first record for each user, setting the time difference to 0
df_control.loc[df_control['client_id'] != df_control['client_id'].shift(), 'duration'] = 0

# Calculate the average time in each step.
average_time_per_step_control = df_control.groupby('process_step')['duration'].mean()

print("Average time in each step in minutes in Control:")
print((average_time_per_step_control/60).round(2))  # turn to minutes.

Average time in each step in minutes in Control:
process_step
confirm    1098.90
start      3115.16
step_1       30.55
step_2        0.66
step_3        9.58
Name: duration, dtype: float64

In [60]:
# Convert 'date_time' to datetime if it's not already
df_test['date_time'] = pd.to_datetime(df_test['date_time'])

# Sort the DataFrame by 'client_id' and 'date_time'
df_test = df_test.sort_values(['client_id', 'date_time'])

# Calculate the previous step for each client
df_test['previous_step'] = df_test.groupby('client_id')['process_step'].shift()

# Identify errors where the current step is less than the previous step
df_test['error'] = df_test['process_step'] < df_test['previous_step']

# Calculate the total number of errors
total_errors = df_test['error'].sum()

# Calculate the total number of rows
total_rows = len(df_test)

# Calculate the error rate
error_rate = total_errors / total_rows * 100  # Multiply by 100 to get percentage

print("Error Rate: ", error_rate, "%")

Error Rate:  20.809459816583917 %

In [59]:
# Convert 'date_time' to datetime if it's not already
df_control['date_time'] = pd.to_datetime(df_control['date_time'])

# Sort the DataFrame by 'client_id' and 'date_time'
df_control = df_control.sort_values(['client_id', 'date_time'])

# Calculate the previous step for each client
df_control['previous_step'] = df_control.groupby('client_id')['process_step'].shift()

# Identify errors where the current step is less than the previous step
df_control['error'] = df_control['process_step'] < df_control['previous_step']

# Calculate the total number of errors
total_errors = df_control['error'].sum()

# Calculate the total number of rows
total_rows = len(df_control)

# Calculate the error rate
error_rate = total_errors / total_rows * 100  # Multiply by 100 to get percentage

print("Error Rate: ", error_rate, "%")

Error Rate:  18.784765303704116 %

In [86]:
df_test.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,previous_step,error
72018,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,NaN,False
72017,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,start,False
72016,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,step_1,False
72015,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,step_2,False
72014,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,step_3,True
138182,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,NaN,False
138181,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,start,False
138180,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,step_1,False
138179,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,step_2,False
138176,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,step_3,True

In [88]:
# Calculate time spent in each state for Test
# Convert the date and time column to datetime type since it is not yet in that format.
df_test['date_time'] = pd.to_datetime(df_test['date_time'])
# Sort the DataFrame by 'client_id' and 'date_time' to ensure that the records are in the correct order
df_test = df_test.sort_values(by=['client_id', 'date_time'])
# Calculate the time difference between each consecutive record for each user.
df_test['duration'] = (df_test['date_time'] - df_test.groupby('client_id')['date_time'].shift()).dt.total_seconds()
# Set the duration for the first record for each user, setting the time difference to 0
df_test.loc[df_test['client_id'] != df_test['client_id'].shift(), 'duration'] = 0
# Calculate the average time in each step.
average_time_per_step_test = df_test.groupby('process_step')['duration'].mean()
print("Average time in each step in minutes in Test:")
print((average_time_per_step_test/60).round(2))# turn to minutes.

Average time in each step in minutes in Test:
process_step
confirm    1725.25
start      2376.64
step_1       22.28
step_2        1.85
step_3       12.30
Name: duration, dtype: float64

In [90]:
# Calculate time spent in each state for Control
# Convert the date and time column to datetime type since it is not yet in that format.
df_control['date_time'] = pd.to_datetime(df_control['date_time'])
# Sort the DataFrame by 'client_id' and 'date_time' to ensure that the records are in the correct order
df_control = df_control.sort_values(by=['client_id', 'date_time'])
# Calculate the time difference between each consecutive record for each user.
df_control['duration'] = (df_control['date_time'] - df_control.groupby('client_id')['date_time'].shift()).dt.total_seconds()
# Set the duration for the first record for each user, setting the time difference to 0
df_control.loc[df_control['client_id'] != df_control['client_id'].shift(), 'duration'] = 0
# Calculate the average time in each step.
average_time_per_step_control = df_control.groupby('process_step')['duration'].mean()
print("Average time in each step in minutes in Control:")
print((average_time_per_step_control/60).round(2))# turn to minutes.

Average time in each step in minutes in Control:
process_step
confirm    1098.90
start      3115.16
step_1       30.55
step_2        0.66
step_3        9.58
Name: duration, dtype: float64

In [92]:
 #Completion Rate of Test:
# Count the number of users who reached the 'confirm' step
n_completions = df_control[df_control['process_step'] == 'confirm']['client_id'].nunique()
# Count the total number of unique users
n_users = df_control['client_id'].nunique()
# Calculate the completion rate
completion_rate_control = n_completions / n_users * 100
# Print the completion rate
print("Completion rate of Control:", completion_rate_control)

Completion rate of Control: 65.58728539860616

In [93]:
# Completion Rate of Control
# Count the number of users who reached the 'confirm' step
n_completions = df_test[df_test['process_step'] == 'confirm']['client_id'].nunique()
# Count the total number of unique users
n_users = df_test['client_id'].nunique()
# Calculate the completion rate
completion_rate_test = n_completions / n_users * 100
# Print the completion rate
print("Completion rate of Test:", completion_rate_test)

Completion rate of Test: 69.29323642835953

In [95]:
# Calculate the percentage increase in completion rate
percentage_increase = (completion_rate_test - completion_rate_control) / completion_rate_control * 100
# Print the percentage increase
print("Percentage increase in completion rate:", percentage_increase)
# Check if the percentage increase meets or exceeds the threshold
if percentage_increase >= 5:
    print("The new design is justifiable from a cost perspective.")
else:
    print("The new design is not justifiable from a cost perspective.")

Percentage increase in completion rate: 5.650410757558411
The new design is justifiable from a cost perspective.

In [99]:
from scipy.stats import ttest_ind

# Filter the dataframes for those clients who have reached the 'confirm' step.
cr_control = df_control[df_control['process_step'] == 'confirm']['client_id']
cr_test = df_test[df_test['process_step'] == 'confirm']['client_id']

# Use the two sample t-test to compare proportions.
_, p_value = ttest_ind(cr_control, cr_test)

print(f"The p value is: {p_value}")

alpha = 0.05  # Assuming alpha is 0.05
if p_value > alpha:
    print("The result is: We are not able to reject the null hypothesis")
else:
    print("The result is: We reject the null hypothesis")

The p value is: 0.04946102402798357
The result is: We reject the null hypothesis